.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-content {
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: white;
    z-index: 1;
}

.input-search {
    background-color: rgba(255, 255, 255, 0.15);
    height: 50px;
    width: 40%;
    padding: 0 20px;
    border: 1.25px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
}

.input-search button {
    background-color: transparent;
    border: none;
}

.input-search img {
    height: 20px;
    width: 20px;
}

.search-box {
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 10px;
    width: 100%;
}


::-webkit-input-placeholder {
    /* Edge */
    color: rgba(255, 255, 255, 0.9);
    font-family: Roboto;
    font-size: 18px;
    outline: none;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.9);
    font-family: Roboto;
    font-size: 18px;
    outline: none;

}

::placeholder {
    /* chrome  */
    color: rgba(255, 255, 255, 0.9);
    font-family: Roboto;
    font-size: 18px;
    outline: none;
}


.header-content input ::content {
    color: white;
    font-family: Roboto;
    font-size: 20px;
}

.drawer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-none {
    display: none;
}

@media screen and (min-width: 930px) {
    .drawer {
        display: none;
    }

    .mobile-drawer {
        display: none;
    }
}

.search-cancel-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 930px) {

    .input-search {
        display: none;
        width: 100%;
    }

    .mobile-search {
        width: 100%;
        display: flex;
    }

    .icons {
        display: flex;
        width: 80px;
        align-items: center;
        justify-content: space-between;
    }

    .web-logo {
        display: none;
    }
}

.drawer-content {
    padding: 40px 30px;
}

.drawer-content ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.drawer-content li {
    list-style-type: none;
    display: flex;
    padding: 10px;
    color: grey;
}

.active {
    color: black !important;
}